.row
  .col-md-6
    = simple_form_for @movie, html: { class: "form-horizontal" } do |f|
      = f.input :name
      = f.input :director
      = f.input :company
      = f.input :stars
      = f.input :description
      = f.input :poster, as: :file
      = f.button :submit
