.page-header
  %h1
    My movie list
    %small
      %span.label.label-default= link_to "New", new_movie_path
  .row
    - @movies.each do |movie|
      .col-sm-4.col-md-3
        .thumbnail
          = link_to movie_path(movie) do
            = image_tag movie.poster.url(:medium)
          .caption
            %h3= link_to movie.name, movie_path(movie)
            %p= movie.description

= will_paginate @movies
