.page-header
  %h1= @movie.name
.row
  .col-md-4= image_tag @movie.poster.url(:medium)
  .col-md-8
    %p
      %strong Description
      = @movie.description
    %p
      %strong Director
      = @movie.director
    %p
      %strong  Stars
      = @movie.stars
    %p
      = link_to "edit", edit_movie_path(@movie), class: "btn btn-primary"
      = link_to "delete", movie_path(@movie), method: "delete", class: "btn btn-danger"
