!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Imdb
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand(href='/') IMDB
        %ul.nav.navbar-nav
          %li= link_to "Movies", movies_path
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to current_user.full_name, edit_user_registration_path
            %li= link_to "logout", destroy_user_session_path, method: :delete
          - else
            %li= link_to "login", new_user_session_path
            %li= link_to "signup", new_user_registration_path
    .container
      - if flash.key?(:notice)
        .alert.alert-success(role="alert")= notice
      - if flash.key?(:alert)
        .alert.alert-danger(role="alert")= alert
      = yield
